@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: url(../img/fondo.jpg);
  background-size: cover;
}
body header .navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
  border-bottom: solid white 0.1rem;
}
body header .navbar .container-fluid .navbar-brand {
  color: white;
}
body header .navbar .container-fluid .navbar-brand .img_logo_nav {
  height: 5rem;
  width: 5rem;
  margin-left: 1.5rem;
  margin-bottom: -0.5rem;
  margin-top: -1rem;
}
body header .navbar .collapse {
  justify-content: end;
}
body header .navbar .collapse .navbar-nav .nav-item {
  display: flex;
}
body header .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
  color: white;
  margin-right: 5rem;
}
body main {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .login-box {
  margin-top: 4%;
  margin-bottom: 6%;
  width: 320px;
  height: 420px;
  color: white;
  background: linear-gradient(white, rgb(56, 56, 56)) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 3rem;
  border: 1px solid transparent;
}
body .login-box .img_logo_sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
body .login-box .img_logo_sesion .img_logo_sesion__tamaño {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
body .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 367px;
  margin-top: -2rem;
}
body .formulario .user {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
}
body .formulario .pass {
  font-size: 1rem;
  margin-bottom: 6rem;
  margin-right: 1.1rem;
}
body .formulario .boton-sesion {
  font-size: 1.2rem;
}

footer {
  text-align: center;
  color: white;
  border-top: solid 0.1rem white;
  position: relative;
  bottom: 0;
  width: 100%;
}

main .bienvenida {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vh;
}
main .bienvenida .titulos-de-bienvenida {
  display: grid;
  place-items: center;
}
main .bienvenida .titulos-de-bienvenida .bienvenida_titulo__1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: white;
  margin-top: -6rem;
}
main .bienvenida .titulos-de-bienvenida .bienvenida_titulo__2 {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-top: 3rem;
}

html {
  font-size: 62.5%;
}

main h1 {
  color: white;
  margin-bottom: 3rem;
}
main .container {
  height: 60rem;
  margin-top: 3rem;
  background-color: transparent;
}
main .container .grid {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(3, 380px);
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
main .container .grid .curso {
  margin-left: 3rem;
  border: solid 0.2rem white;
  color: white;
}
main .container .grid .curso .precio p {
  text-align: center;
  font-size: 3rem;
}
main .container .grid .curso img {
  width: 100%;
  height: 170px;
}
main .container .grid .curso h3 {
  margin-top: 2rem;
}
main .container .grid .curso p {
  margin-top: 2.5rem;
}
main .container .grid .curso .btn {
  background-color: rgb(115, 250, 5);
  color: blue;
  margin-left: 13.5rem;
  margin-bottom: 2rem;
}
main .container-carrito {
  color: white;
  margin-left: 11.5rem;
}
main .container-carrito h2 {
  font-size: 4rem;
}

.footer-cursos {
  position: relative;
}

form {
  color: white;
}
form .recuadro {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 72%, rgba(134, 134, 134, 0.462622549) 100%, rgb(0, 212, 255) 100%);
  border: solid blue 0.1rem;
  margin: 5rem;
}
form .recuadro .contenido {
  margin: 3rem;
}
form .recuadro .contenido .titulo {
  font-size: 3rem;
  text-align: center;
}
form .recuadro .contenido .mb-3 {
  font-size: 2rem;
  margin: 2rem;
}
form .recuadro .btn {
  margin-left: 11rem;
  margin-bottom: 2rem;
}

.main-carrito {
  display: flex;
  flex-direction: column;
  height: 55rem;
}
.main-carrito .disabled {
  display: none;
}
.main-carrito .titulo-principal {
  color: white;
  font-size: 4rem;
  margin-bottom: 4rem;
  position: absolute;
  top: 6rem;
}
.main-carrito .contenedor-carrito .disabled {
  display: none;
}
.main-carrito .contenedor-carrito .carrito-vacio {
  color: white;
  font-size: 4rem;
}
.main-carrito .contenedor-carrito .carrito-cursos {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  margin-bottom: 4rem;
  width: 80rem;
  margin-top: 5rem;
}
.main-carrito .contenedor-carrito .carrito-cursos .carrito-curso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px white;
  border-radius: 1rem;
  color: white;
  margin: 2rem;
}
.main-carrito .contenedor-carrito .carrito-cursos .carrito-curso img {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}
.main-carrito .contenedor-carrito .carrito-cursos .carrito-curso small {
  font-size: 2rem;
  font-weight: bold;
}
.main-carrito .contenedor-carrito .carrito-cursos .carrito-curso .carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: yellow;
  font-size: 2rem;
  margin-right: 1.5rem;
}
.main-carrito .contenedor-carrito .carrito-acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-carrito .contenedor-carrito .carrito-acciones .carrito-acciones-vaciar {
  border: 0;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.main-carrito .contenedor-carrito .carrito-acciones .carrito-acciones-derecha {
  display: flex;
  text-transform: uppercase;
}
.main-carrito .contenedor-carrito .carrito-acciones .carrito-acciones-derecha .carrito-acciones-comprar {
  border: 0;
  border-radius: 1rem;
  height: 6rem;
  width: 10rem;
  text-transform: uppercase;
}
.main-carrito .contenedor-carrito .carrito-acciones .carrito-acciones-derecha .carrito-acciones-total {
  align-items: center;
  font-size: 2rem;
  margin-right: 4rem;
  margin-top: -0.6rem;
  color: white;
}
.main-carrito .contenedor-carrito .carrito-comprado {
  color: white;
  font-size: 4rem;
  margin-bottom: 3rem;
}

/*# sourceMappingURL=estilo.css.map */
