body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
.main-carrito{    
    
    .disabled{
        display: none;
    }        

     .titulo-principal{
        color: white;
        font-size: 4rem;
        margin-bottom: 4rem;
        position: absolute;
        top: 6rem;

    }
    .contenedor-carrito{
        
        .disabled{
                display: none;
            }                  

        .carrito-vacio{    
            margin-top: 15rem;                   
            color: white;
            font-size: 4rem;  
        }

        .carrito-cursos{
            display: flex;
            flex-direction: column;
            gap: 7rem;
            margin-bottom: 4rem;
            width: 80rem; 
            margin-right: 3rem;
            margin-top: 10rem;  
                                    
            .carrito-curso{                
                display: flex;     
                justify-content: space-between ; 
                align-items: center;
                border: solid 1px white;    
                border-radius: 1rem;  
                color: white; 
                margin: 2rem;
                width: 78rem;
                .carrito-producto-nombre{
                    margin-left: 2rem;
                    margin-right: 14rem;
                }
                .carrito-producto-cantidad{
                    padding: 1rem;
                    
                }
                .carrito-producto-precio{
                    padding: 1rem;
                }
                .carrito-producto-subtotal{
                    padding: 1rem;
                }
                img {
                    width: 11.5rem;
                    height: 10rem;
                    border-radius: 1rem;
                }
                small{
                    font-size: 2rem;
                    font-weight: bold;
                }
                p{
                    text-align: center;
                }
                .carrito-producto-eliminar{
                    border: 0;
                    background-color: transparent;
                    color: yellow;
                    font-size: 2rem;
                    margin-right: 1.5rem;
                }
            }
        }
        .carrito-acciones{

            display: flex;
            justify-content: space-between;
            align-items: center;        
            
            .carrito-acciones-vaciar{
                border: 0;
                background-color: white;
                padding: 2rem;
                border-radius: 1rem;
                text-transform: uppercase;
                margin-bottom: 1.5rem;
                
            }
            .carrito-acciones-izquierda{
                margin-left: 2rem;
            }
            .carrito-acciones-derecha{
                display: flex;
                text-transform: uppercase; 
                margin-right: 2.9rem;               
               
                .carrito-acciones-comprar{
                    border: 0;
                    border-radius: 1rem;
                    height: 6rem;
                    width: 10rem;                   
                    text-transform: uppercase;
                                       
                    
                }
                .carrito-acciones-total{                    
                    align-items: center;
                    font-size: 2rem;
                    margin-right: 4rem;
                    margin-top: -0.6rem;
                    color: white;                   
                }
            }
        }
        .carrito-comprado{               
            color: white;
            font-size: 4rem;  
            margin-bottom: 3rem;
        }
    }

   }
   .footer-carrito{
   margin-top: auto;
   }
}
   
    
   
