
html{
    font-size: 62.5%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
main{    
    
        h1{
            color: white;
            margin-bottom: 3rem;
        }
    
        .container{            
            margin-top: 3rem;
            background-color:transparent;   
                       

            .grid{
                max-width: 3500px;
                display: grid;                
                grid-template-columns: repeat(3, 380px);
                grid-template-rows: repeat(1fr,1fr,1fr);
                justify-content: center;
                align-items: center;
                margin-bottom: 4rem;   

                .curso{                        
                    margin-top: 2rem;           
                    margin-left: 3rem;
                    border: solid 0.2rem white;
                    color: white;
                    .precio{
                        p{
                            text-align: center;
                            font-size: 3rem;
                        }
                    }
                    img{
                         width: 100%;
                         height: 170px;
                        }
                        h3{                            
                            margin-top: 2rem;
                        }
                        p{
                            margin-top: 2.5rem;                            
                        }
                        .btn{
                            background-color: rgb(115, 250, 5);
                            color: blue;
                            margin-left: 13.5rem;
                            margin-bottom: 2rem;
                        }
            }
            
        }
    }
    .container-carrito{
        color: white;
        margin-left: 11.5rem;
        h2{
            font-size: 4rem;

        }
        
    }
}
.footer-cursos{
    margin-top: auto;

}

}